@charset "utf-8";
/* CSS Document */

*	{
	padding:0;
	margin:0;
}

body	{
	max-width:1200px;
	margin: 0 auto;
	background-color:#DEE7E2;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height: 1.3em;
}

p	{
	/*line-height:1.2em;*/
	padding-bottom:10px;
	text-align:left;
}

h1	{
	font-size:1.6em;
	line-height:1.5em;
	padding-top:10px;
}

h2	{
	font-size:1.4em;
	line-height:1.3em;
	padding-top:10px;
}

h3	{
	font-size:1.4em;
	line-height:1.3em;
	padding-top:10px;
	padding-bottom:10px;
}

#blockquote	{
	font:italic bold 18px sans-serif;
}

cite { 
    font:bold 16px sans-serif;
}

#wrapper	{
	width:80%;
	margin:20px auto;
	overflow:hidden;
}

#banner	{
	height:80px;
}

header	{
	height:230px;
	overflow:hidden;
}

#main {
	width:65.957446%;
	float:left;
}

ul.primary-nav, .nav-button, .phone, .home	{
	display:none;
}

nav	{
	width:31.914893%;
	height:410px;
	float:right;
}

nav ul  {
	width:80%;
	margin:10px auto;
	padding-top:10px;
}

nav ul li.nav  {
height:50px;
line-height:50px;
margin-bottom:10px;
list-style-type:none;
text-align:center;
border:1px solid black;
border-radius:10px;
box-shadow: 5px 5px 5px #ccc;
	
}

nav ul li.nav-on  {
height:50px;
line-height:50px;
margin-bottom:10px;	
list-style-type:none;
text-align:center;
border:1px solid black;
border-radius:10px;
box-shadow: 5px 5px 5px #ccc;

}

nav ul li.nav a  {
text-decoration:none;
display:block;
color:black;
}

nav ul li.nav-on a {
	display:block;
	text-decoration:none;
	background:#333;
	color:#ddd;
	border-radius:10px;
}

nav ul li.nav a:hover  {
	background:#333;
	color:#ddd;
	border-radius:10px;
}

footer {	
	clear:both;
	height:200px;
}

#footer-nav ul li {
	list-style-type:none;
	font-size:1.1em;
	line-height:1.1em;
}

#footer-nav ul li a{
	float:left;
	text-align:center;
	width:33.33%;
	text-decoration:none;
	color:black;
	background-color:#94B4B2;
	display:block;
}

#footer-nav ul li a:hover  {
	color:#ddd;
	background-color:#333;
}

#address  {
	font-size:1.1em;
	line-height:1.1em;
	float:left;
	padding:20px 50px;
}

#address ul {
	list-style-type:none;
}

#copyright  {
	font-size:1.1em;
	line-height:1.1em;
	float:right;
	text-align:right;
	padding:20px 75px;
}

#copyright ul {
	list-style-type:none;
}

#container	{
	width:50%;
	margin:20px auto;
}

fieldset	{
	width:100%;
	padding-left:30px;
	margin:20px auto;
	border-radius:10px;
}

fieldset p	{
	margin-left:20px;
}

legend	{
	background-color:#94B4B2;
	padding:5px;
	border-radius:10px;
	}

input[type=submit], [type=reset]{
	display:block;
	margin-top:10px;
	padding:5px;
}

.padding-top {
	padding-top:20px;
}	

#img  {
max-width:100%;
}

ul {
list-style-position: inside;
	line-height:1.3em;
}

a:link { 
color:#286965; 
}
